.chooseBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 100px;
	background-color: #ffc849;

	.container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: 1px solid rgba(50, 50, 50, 0.3);
		box-shadow: inset 0 0 20px rgba(62, 62, 62, 0.8);
		background-color: #000;
		border-radius: 20px;
		padding: 60px;
		width: 900px;
		margin: 0 auto;

		.mainInfo {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			gap: 20px;
			margin-bottom: 40px;

			h1 {
				font-size: 50px;
			}

			span {
				max-width: 700px;
				width: 100%;
				font-size: 20px;
			}
		}

		.outer {
			border-radius: 10px;
			padding: 1px;
			background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
			position: relative;

			.dot {
				width: 6px;
				aspect-ratio: 1;
				position: absolute;
				background-color: #fff;
				box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
				border-radius: 50%;
				z-index: 2;
				top: 0;
				left: 0;
				transform: translate(-50%, -50%);
				animation: moveDot 6s linear infinite;

				@keyframes moveDot {
					0%,
					100% {
						top: 0;
						left: 0;
					}
					25% {
						top: 0;
						left: 100%;
					}
					50% {
						top: 100%;
						left: 100%;
					}
					75% {
						top: 100%;
						left: 0;
					}
				}
			}

			.card {
				z-index: 1;
				width: 100%;
				height: 100%;
				border-radius: 9px;
				border: solid 1px #202222;
				background-size: 20px 20px;
				background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				color: #fff;

				.ray {
					width: 220px;
					height: 45px;
					border-radius: 100px;
					position: absolute;
					background-color: #c7c7c7;
					opacity: 0.4;
					box-shadow: 0 0 50px #fff;
					filter: blur(10px);
					transform-origin: 10%;
					top: 0%;
					left: 0;
					transform: rotate(40deg);
				}

				.info {
					padding: 40px;
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 20px;

					.text {
						font-weight: bolder;
						font-size: 2.4rem;
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}
